<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yd.jwt.dao.UserRepository">
  <!-- 회원 조회 -->
    <select id="select" resultType="Users">
        SELECT *
        FROM COM_STD_1
        WHERE no = #{no}
    </select>


    </mapper>